@import '@/styles/variables.scss';

.yellowColor {
  background: $yellow;
}
.link {
  font-size: 20px;
  padding: 10px 20px;
  min-width: 186px;


  display: flex;
  align-items: center;

  border-radius: 10px;
  text-decoration: none;

  color: $black;
}