@import '@/styles/variables.scss';
@import "@/styles/fonts.scss";

.yellowColor {
  background: $yellow;
}
.link {
  font-size: 20px;
  padding: 10px 20px;
  //min-width: 186px;
  //@extend %inter-semibolt;
  display: flex;
  align-items: center;
  border-radius: 10px;
  text-decoration: none;
  color: $black;
}