@import '@/styles/variables.scss';
.container {
  max-width: 337px;
  min-width: 100px;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid $middleGray;
  display: flex;
  align-items: center;
}
.input {

  border: none;


  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input:focus {
  outline: none;
}

