@import '@/styles/variables.scss';
.buttonTransparent {
  padding: 10px;
  border-radius: 10px;
  background-color: $white;
  border: 0;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
  &:hover {
    background-color: $grayHover;
  }
}