.container {
  padding: 11px 48px 32px 48px;
  width: 100%;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap
}
.leftSubContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  max-width: 650px;
  width: 100%;

  //border: 1px solid red;
}
.linkHeader {
  font-size: 18px;
  text-decoration: none;
  padding: 14px;
}
.leftLinks {
  display: flex;
}
.rightSubContainer {
  display: flex;
  align-items: flex-end;
}