.container {
  margin-bottom: 40px;
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.spanInputReminder {
  display: flex;
  align-items: center;
}

.inputRemindMe {
  font-size: 13px;
  margin-right: 5px;
  cursor: pointer;
}

.label {
  cursor: pointer;
}

.forgetPassword {
  text-decoration: underline;
  font-size: 13px;
  cursor: pointer;
}