@import '@/styles/variables.scss';
// geologica
%geologica-semibold{
  color: #000;
  font-family: $geologica-font;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
%geologica-medium{
  color: #000;
  font-family: $geologica-font;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
%geologica-regular{
  color: #000;
  font-family: $geologica-font;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
// inter
%inter-bold{
  color: #000;
  font-family: $inter-font;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
%inter-semibold{
  color: #000;
  font-family: $inter-font;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
%inter-semibold{
  color: #000;
  font-family: $inter-font;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
%inter-semibold{
  color: #000;
  font-family: $inter-font;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

//@import "@/styles/fonts";

//font-family: var(--inter-font);
//font-family: var(--geologica-font);
