$redColor: #F44336;
$grayDark: #636366;
$semiGray: #B0BABF;
$yellow: #FFF135;
$black: #000000;
$backgroundGray: #F4F4F4;
$white: #FFFFFF;
$middleGray: #D6DDEB;
$lightYellow: #F7FFBE;
$mintGreen: #08987F;

//@import '@/styles/variables.scss';