$redColor: #F44336;
$grayDark: #636366;
$semiGray: #B0BABF;
$yellow: #FFF135;
$black: #000000;
$backgroundGray: #F4F4F4;
$grayHover: #E6E6E6;
$white: #FFFFFF;
$middleGray: #D6DDEB;
$lightYellow: #F7FFBE;
$mintGreen: #08987F;
$yellowHover: #FFFAB9;

$geologica-font: var(--geologica-font), sans-serif;
$inter-font: var(--inter-font), sans-serif;

//@import '@/styles/variables.scss';