@import '@/styles/variables.scss';
@import "@/styles/fonts.scss";

.link {
  background: $yellow;
  padding: 10px 20px;
  font-size: 18px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  text-decoration: none;
  color: $black;
  transition: background-color .3s ease-in-out;
  &:hover {
    background: $yellowHover;
  }
}