@import '@/styles/variables.scss';
@import "@/styles/fonts.scss";

.yellowColor {
  background: $yellow;
}
.link {
  font-size: 18px;
  padding: 10px 20px;
  text-decoration: none;
  color: $black;
  display:inline-block;
  margin:0;
  &:after {
    display:block;
    content: '';
    border-bottom: solid 5px $yellow;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  &:hover:after { transform: scaleX(1); }
  &:after {  transform-origin:  0 50%; }
}