.container {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.spanInputReminder {
  display: flex;
  align-items: center;
}

.inputRemindMe {
  font-size: 13px;
}

.forgetPassword {
  color: #08987F;
}
.checkText {
  font-size: 13px;
}