//.containerElectricPole {
//  width: 50%;
//  height: 100vh;
//  display: flex;
//  justify-content: center;
//  //overflow: hidden;
//}
//.electricPole {
//  height: 100vh;
//  aspect-ratio: 9/16;
//}
.electricPoleContainer {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* (9 / 16) * 100% - пропорції 9:16 */
  //overflow: hidden;
}

.electricPole {
  position: absolute;
  width: 50%;
  height: 100vh;
  object-fit: cover; /* або інше значення, залежно від вашого вибору */
}
@media (max-width: 920px) {
  .containerElectricPole {
    display: none;
  }
}